//
//  .gitignore
//  Wordify
//
//  Created by Chris Rowley on 11/28/24.
//

# Ignore JSON files
*.json

# Ignore JPG files
*.jpg

# Ignore PNG files
*.png

# Ignore Xcode related files and folders
*.xcuserdata/
*.xcworkspace/
DerivedData/
*.hmap
